* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f7f9;
    background-image: url('https://yandex-images.clstorage.net/J5kiC0190/34b349wF/i4NruulWmLGfRHWsDn90F4Vb-o43B22z5b-ent3EgLHhbrd_-qkYPkfwtDy4HUMuVnf5GWsK22xiFu1aj-xd0WvHDju9kjyQ-qGhnbs_9CfVei9aBhaoE6BuOrvtdLWXR8mFXYlLjjlA4mbNSFi2WwJ2PAy7jF3NYsZqOBgZODAZgJg5-iYY1uyk5bjP_sbXp8st7Jfna7ByLB5b2oPj5hdolf47y59787GFDrnYFktzsZ5vaj4OSMLEyOqIe7oiC7KZOuk2OZdddKUJ_8-Vp_SZH-9HhhjQQiyc6znygme2uKVsK-seuJMwhj2qChdro0G_DLhOL5gjZ6rI2gtJoWrwuwkL9PklLwZFio5P1obFy_7OhYS4Q1C9PDpag4JUROrVv_k5T_lC08ccGesEuYLhvy1pruyKE3TrGnk7W1Epoau7OYSI9A6k5It__ZdVZmtsvcU2SCMTLp5ZO5EjNYcZ9z4q2x-pwiCG_fkIxWjz0gxf6kyeGBE2GZv4WtuiSsKpSZnV-6Z_tVaKH002BeWorBxVBDogAx2fu4rTseaFa-ev6RmeaEBzZu7o-iapYTHdX8n_3xkxdYo76isawOqRW-qYJsm3vUS3-a88RoU1yu1shQepEVPsPamKUOGWVKsUTsibb5ijg9TP2DnESnFCzS7r7M-YUqSoybpoe4NbEvoLaffZ9j3FZgo9zlVUxGpc_JRGmWERH7-r2HFCRyQqF_7YmE1bEEA3L1g4BSrz0j18iDwNCgMX6Roq--vx6TJJOKnF6sdexNcZjH-35udovUw0J7oDgP4Oq4migicVadXdaTlsKFMSNl9IeTY7QGNdXXjPf0lwNsl5uRv7sPlCOSqJV9nVjIcU2f2-xZX0O0yc58doIkENPJurMRG0FQo1HCvpn3pBopS8qQn0yfNQfOwpPv-78ARJWNvYKBFpULj6uDc4lh2lNrmdzeX3JTrO3odG2_MwvSyZqQDx4');
    background-size: cover;
    background-position: center;
    padding: 20px;
}
.navbar {
    width: 100%;
    background-color: #C1F2B0; /* Semi-transparent background */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.navbar img {
    width: 40px;
    height: 40px;
}
.navbar h1 {
    color: #fff;
    font-size: 24px;
    margin: 0;
}
.main-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-top: 80px; /* Adjust for navbar height */
}
.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 500px;
    margin-right: 20px;
    align-self: center; /* Center vertically */
}
h1 {
    font-size: 24px;
    color: #4CAF50;
    margin-bottom: 20px;
}
.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.input-group h4 {
    margin-right: 10px;
    font-size: 16px;
    color: #4CAF50;
}
input[type="text"] {
    flex: 1;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px 0 0 8px;
    outline: none;
    transition: border-color 0.3s;
}
input[type="text"]:focus {
    border-color: #4CAF50;
}
button {
    padding: 12px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #45a049;
}
.output {
    margin-top: 20px;
    font-size: 16px;
    color: #4CAF50;
}
.short-url-link {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}
.short-url-link:hover {
    text-decoration: underline;
}
.footer {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}
.history-container {
    background: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 45%;
    max-width: 500px;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 80px; /* Adjust for navbar height */
}
.history h2 {
    font-size: 20px;
    color: #65B741;
    margin-bottom: 10px;
    text-align: center;
}
.history ul {
    list-style-type: none;
    padding: 0;
}
.history li {
    margin-bottom: 10px;
    padding: 10px;
    background: #FBF6EE;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.history .logo {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}
.history .original-url {
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 12px; /* Smaller font size */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px; /* Adjust the max-width as needed */
}
.history .short-url {
    color: #3498db;
    display: block;
    margin-top: 5px;
}
.history .url-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}
.history .tracking-info {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}
.history .delete-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px; /* Move the delete button to the top */
}
.history .delete-button-container button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #e74c3c;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.history .delete-button-container button:hover {
    background-color: #c0392b;
}